.wrapper {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  h2 {
    margin-top: 0;
  }
  ul {
    font-size: 16px;
    line-height: 20px;
    list-style-type: disc;
    font-weight: 500;
    -webkit-margin-before: 1em;
    margin-block-start: 1em;
    -webkit-margin-after: 1em;
    margin-block-end: 1em;
    -webkit-padding-start: 20px;
    padding-inline-start: 20px;
  }
  .examples {
    p::first-letter {
      font-weight: bold;
    }
    .example {
      .word {
        display: inline-flex;
        width: 32px;
        height: 32px;
        margin-right: 4px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        background-color: var(--color-tone-7);
        border: 2px solid var(--color-tone-3);
        color: var(--color-tone-1);
        font-size: 1.6rem;
        padding-top: 1px;
      }
    }
    p {
    }
  }
}
